@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

html {
  box-sizing: border-box;
  font-size: 85%;
  --hue: 40;
  --saturation: 30%;
  --lightness: 30%;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

#app {
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: 5em 1fr 5em;
  background-color: hsl(var(--hue), var(--saturation), 85%);
  height: 100vh;
}

.main {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: left;
  background-color: hsl(var(--hue), var(--saturation), 78%);
  height: 91vh;
  width: 80%;
  overflow: auto;
  margin: 0 auto;
  color: hsl(var(--font-hue), var(--font-saturation), var(--font-lightness));
  padding: 1rem;
  box-shadow: 3px 3px hsl(var(--hue), var(--saturation), 76%),
    -1em 0 0.4em hsl(var(--hue), var(--saturation), 76%);
  margin-bottom: 1rem;
}
